* {
    font-family: 'Roboto', sans-serif;
    box-sizing: border-box;
    text-transform: capitalize;
}

body {
    background-color: #f6f8fc;
}

.content {
    width: 100%;
    height: 100vh;
    padding: 1rem;
    background-color: #fff;
}

@media screen and (min-width: 992px) {
    .content {
        max-width: 992px;
        height: auto;
        margin: 1rem auto;
        border-radius: 1rem;
    }
}

.content h1 {
    margin: 0;
}

ol.pokemons {
    display: grid;
    grid-template-columns: 1fr;
    list-style: none;
    margin: 0;
    padding: 0;
    gap: 1rem;  /* Adicionando um gap entre os itens */
}

@media screen and (min-width: 380px) {
    ol.pokemons {
        grid-template-columns: 1fr 1fr;
    }
}

@media screen and (min-width: 576px) {
    ol.pokemons {
        grid-template-columns: 1fr 1fr 1fr;
    }
}

@media screen and (min-width: 992px) {
    ol.pokemons {
        grid-template-columns: 1fr 1fr 1fr 1fr;
    }
}

@media screen and (min-width: 1200px) {
    ol.pokemons {
        grid-template-columns: repeat(auto-fill, minmax(250px, 1fr)); /* Melhora a responsividade */
    }
}
